$font-size-xsmall: 13px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

$line-height-xsmall: 20px;
$line-height-base: 24px;
$line-height-large: 28px;
$line-height-xlarge: 34px;

$letter-spacing-base: -0.01em;
$letter-spacing-large: -0.02em;