@mixin rowflex($justify-content: false) {
    display: flex;
    align-items: center;

    @if ($justify-content) {
        justify-content: $justify-content;
    }
}

@mixin colflex($justify-content: false) {
    display: flex;
    flex-direction: column;
    align-items: center;

    @if ($justify-content) {
        justify-content: $justify-content;
    }
}