* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
    background-color: #E5E5E5;
  }
  
  h1 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2d3d;
    line-height: 1.4545454545;
  }
  
  span {
    font-size: 16px;
    font-weight: 400;
    color: #7d858f;
    line-height: 1.5;
  }
  
  strong {
    font-size: 22px;
    color: #2860e1;
    line-height: 1.0909090909;
  }
  
  strong span {
    font-size: 16px;
    font-weight: 400;
    color: #525d69;
    line-height: 1.5;
  }
  
  button {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
  }
  
  #prev {
    background-image: url(./04-position-assets/icon-backward.svg);
  }
  
  #next {
    background-image: url(./04-position-assets/icon-forward.svg);
  }
  
  /* ▼ WHERE YOUR CODE BEGINS */


  .card{
      width: 400px;
      background-color: white;
  }

  .card-carousel {
      position: relative;
  }


    /* 사진을 넣을 때 많이 쓰이는 요소 값 */
  .card-carousel img {
      display: block;
      width: 100%;
      height: auto;
  }

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.card-content {
    padding: 12px 16px;
}

.card-content h1 {
    margin-bottom: 2px;
}

.card-content strong {
    display: block;
    margin-top: 8px;
    text-align: right;
}