/* CSS 초기화 */
* {
   box-sizing: border-box;
   margin: 0; 
}
button {
    border: none;
    padding: 0;
    background-color: inherit;
}
button:focus {
    outline: none;
}


/* CSS */
.gameBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 802px;
    height: 581px;
    background-color: #0E6166;
}

.turnNumber {
    display: none;
}

.turnNumber.show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22px;
    right: 27px;
    width: 66px;
    height: 37px;
    background-color: #F7BF25;
    font-size: 20px;
}

.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.hostCards {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.hostCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 38px;
    height: 50px;
    background-color: #fff;
    font-weight: 700;
}
.hostCards div:last-child {
    margin-right: 0;
}

.hostNumber {
    font-size: 17px;
    color: #fff;
}

.start button {
    margin-top: 56px;
    border-radius: 6px;
    width: 87px;
    height: 44px;
    background-color: #C4C4C4;
    font-size: 20px;
}

.players {
    display: flex;
    position: relative;
    margin-top: 100px;
    width: 100%;
}
.players strong {
    font-size: 20px;
    font-weight: 400;
    color:  #F7BF25;
}
.players button {
    border-radius: 6px;
    padding: 7px 10px;
    font-size: 14px;
    background-color: #C4C4C4;
}

.firstPlayer {
    width: 250px;
    position: absolute;
    left: 50px;
}
.firstPlayer .playerName {
    display: flex;
}
.firstPlayer strong {
    margin-right: 20px;
}

.secondPlayer {
    width: 250px;
    position: absolute;
    right: 50px;
}
.secondPlayer .playerName {
    display: flex;
    justify-content: flex-end;
}
.secondPlayer strong {
    margin-left: 20px;
}

.playerCards {
    display: flex;
    margin-top: 15px;
}

.playerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 38px;
    height: 50px;
    background-color: #fff;
    font-weight: 700;
}