@font-face {
  font-family: "icomoon";
  src: url("./icomoon.eot?mxutv6");
  src: url("./icomoon.eot?mxutv6#iefix") format("embedded-opentype"),
    url("./icomoon.ttf") format("truetype"),
    url("./icomoon.woff") format("woff"), url("./icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Chevron-Left:before {
  content: "\e910";
}
.icon-Chevron-Right:before {
  content: "\e911";
  color: #b2b3b9;
}
.icon-Bell:before {
  content: "\e900";
}
.icon-Bookmark:before {
  content: "\e901";
}
.icon-BookmarkFilled:before {
  content: "\e902";
}
.icon-Caret:before {
  content: "\e903";
}
.icon-Cart:before {
  content: "\e904";
}
.icon-Check:before {
  content: "\e905";
}
.icon-Chevron:before {
  content: "\e906";
}
.icon-Close:before {
  content: "\e907";
}
.icon-Community:before {
  content: "\e908";
}
.icon-Expert:before {
  content: "\e909";
}
.icon-Lock:before {
  content: "\e90a";
}
.icon-Menu:before {
  content: "\e90b";
}
.icon-New:before {
  content: "\e90c";
}
.icon-Search:before {
  content: "\e90d";
}
.icon-Star:before {
  content: "\e90e";
}
.icon-Store:before {
  content: "\e90f";
}
